html, body {
background-color: lightblue;
text-align: center;
font-size: 18px;
font-family: 'Roboto Slab', serif;
}

#partial {
	font-size: 2rem;
}

#guessedBox {
	border: 1px dashed white;
	display: block;
	width: 25%;
	margin: 25px auto;
}

input {
	text-align: center;
	font-size: 1rem;
	font-family: 'Roboto Slab', serif;
}

#gallows {
	width: 25%;
	min-width: 250px;
}